<ion-header>
  <ion-toolbar>
    <ion-title>
      VIBE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VIBE</ion-title>
      <button>Log out</button>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="instructions">
      You selected Racing Thoughts<br>
      <strong>Over the past 2 weeks, how much were you bothered by these?</strong>
    </div>
    <div class="slider-section">
      <div class="labels">
        <ul>
          <li>Almost everyday</li>
          <li>More than half the days</li>
          <li>Several days</li>
          <li>A few days</li>
          <li>Almost Never</li>
        </ul>
      </div>
      <div class="range">
        <mat-slider vertical class="input-range" type="range" step="0.5" value="5" 
        min="1" max="10" (input)="onInputChange($event)"></mat-slider>
         <span class="range-value"></span>
      </div>
    </div>
    <div class="nav-btns">
      <div class="backward" [routerLink]="['/page2']"><ion-icon name="arrow-back"  end></ion-icon></div>
      <div class="page-no">Page 3 of 3</div>
      <div class="forward"><ion-icon name="arrow-forward"  end></ion-icon></div>
    </div>
  </div>


</ion-content>
