<ion-header>
  <ion-toolbar>
    <ion-title>
      VIBE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VIBE</ion-title>
      <button>Log out</button>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="instructions">
      <strong>What kept you from sleeping last night. Select as many as you like.</strong>
    </div>
    <div class="selection-group">
      <div class="selections">Racing Thoughts</div>
      <div class="selections">Anxiety</div>
      <div class="selections">Nightmares</div>
      <div class="selections">Pop/Soda</div>
      <div class="selections">Light</div>
      <div class="selections">Stress</div>
      <div class="selections">Noise</div>
      <div class="selections">Work</div>
      <div class="selections">Spending time with Friends</div>
      <div class="selections">Obligations</div>
    </div>
    <div class="nav-btns">
      <button class="backward" [routerLink]="['/home']"><ion-icon name="arrow-back"  end></ion-icon></button>
      <div class="page-no">Page 2 of 3</div>
      <button class="forward" [disabled]="valueSelected !== true" [routerLink]="['/page3']"><ion-icon name="arrow-forward"  end></ion-icon></button>
    </div>
  </div>
</ion-content>
