ion-title {
  color: #4599c7;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  padding-top: 50px;
}

button {
  float: right;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: black;
  padding: 10px 15px;
  margin-top: auto;
  margin-right: 10px;
}

#container {
  position: absolute;
  left: 0;
  right: 0;

  .instructions {
    text-align: left;
    border: 1px solid gray;
    padding: 15px;
    margin: 15px;
  }

  .selection-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    margin-left: 20px;

    .selections {
      background: #000000;
      border: 1px solid white;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px;
      font-size: 24px;
      padding: 5px;
    }
  }

  .nav-btns {
    background-color: #0d293f;
    color: #fff;
    height: 40px;
    bottom: 10%;
    display: flex;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;

    .forward {
      width: 20%;
      border-left: 0.5px solid black;
      padding-top: 10px;
      background-color: #4599c7;
      color: white;
      border-radius: 0px 20px 20px 0px;
      border: none;
    }
    button:disabled.forward,
    button[disabled].forward {
      border-radius: 20px;
      width: 20%;
      background-color: #0d293f;
      color: black;
      border-left: 0.5px solid black;
      border-radius: 0px 20px 20px 0px;
      padding-top: 10px;
      border: none;
    }
    .backward {
      width: 20%;
      border-left: 0.5px solid black;
      padding-top: 10px;
      background-color: #4599c7;
      color: white;
      border-radius: 20px 0px 0px 20px;
      border: none;
    }
    .page-no {
      width: 60%;
      padding-top: 10px;
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
